.App {
  margin: 0%;
  padding: 0%;
}
.App-header {
  background-color: #c6ccd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.heading{
  text-align: center;
  text-decoration: underline;
}
.q3{
  background-color: #c6ccd8;
}
.card{
  width: 20rem;
  box-shadow: 2px 2px 5px #606268;
 margin: 10px;
 background-color: rgb(0, 0, 0);
}
.allcards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: first baseline;

}
.user{
  width: 20rem;
  box-shadow: 2px 2px 5px #606268;
 margin: 10px;
}


/*btn CSS */
.allbtns{
  display: flex;
  justify-content: space-evenly;
}
.butn {
  margin: 50px 0px;
  align-items: center;
  background-color: #c3c1c1;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  width: 200px;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.butn:hover {
background-color: black;
color: white;
}
